<main>
    <div class="container mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 mx-auto mb-5">
            <!-- Baby photo section put some title above maybe -->
            <section>
                <div class="row on-hover">
                    <div class="col-md-6">
                        <img src="../../../assets/birthday1.jpg" class="image" alt="...">
                        <a href="plans" class="no-btn mt-3">Check pricing</a>
                    </div>
                    <div class="col-md-6">
                        <h2>Birthday photoshoot</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id deserunt, quis libero perferendis corporis. Odit magni dolores, deleniti, necessitatibus recusandae at, officiis eligendi sit quae iusto enim molestias possimus.</p>
                    </div>
                </div>
            </section>
            <!-- Prewedding photos try out some title -->
            <section>
                <div class="row on-hover">
                    <div class="col-md-6">
                        <h2>Prewedding photoshoot</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, illo aliquid officia corporis laudantium qui enim quo. Aperiam eius eveniet ex reiciendis exercitationem? Quam et illo itaque soluta dolor perspiciatis!</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/prewedding1.jpg" class="image" alt="...">
                        <a href="plans" class="no-btn mt-3">Check pricing</a>
                    </div>
                </div>
            </section>
            <!-- Wedding photos try some title too -->
            <section>
                <div class="row on-hover">
                    <div class="col-md-6">
                        <img src="../../../assets/wedding2.jpg" alt="" class="image">
                        <a href="plans" class="no-btn mt-3">Check pricing</a>
                    </div>
                    <div class="col-md-6">
                        <h2>Wedding photoshoot</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum odio itaque quasi eius autem sequi, temporibus beatae! Quis commodi similique, repudiandae porro, a tempore quae eveniet debitis dignissimos reprehenderit sed!</p>
                    </div>
                </div>
            </section>
            <!-- Others events videoshoot-->
            <section>
                <div class="row on-hover">
                    <div class="col-md-6">
                        <h2>Event videoshoot</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, illo aliquid officia corporis laudantium qui enim quo. Aperiam eius eveniet ex reiciendis exercitationem? Quam et illo itaque soluta dolor perspiciatis!</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/event2.jpg" class="image" alt="...">
                        <a href="plans" class="no-btn mt-3">Check pricing</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>