<!DOCTYPE HTML>
<!-- Este es para cuando le notifica al cliente que un empleado aceptó trabajar o fue asignado -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>An employee has been assigned to for your photoshoot.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <main>
        <h1 th:text="Hi, ${client_name}"></h1>
        <p>The following employees were assigned for your photoshoot:</p>
        <ul th:with="employee=${assignedEmployees}">
        	<li th:text="${employee}"></li>
        </ul>
        <p>They are ready and looking forward to be working with you.</p>
    </main>
</body>
</html>
