<main>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 mx-auto mt-4">
            
            <div class="my-card">
                <div style="text-align: center;"><h1 class="my-card-title">Users</h1></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto@example.com</td>
                        <td>Employee</td>
                        <td>
                            <span style="text-align: right;">
                                <a href="#" class="ltu-btn ltu-btn-danger me-1">Delete</a>
                                <a href="#" class="ltu-btn ltu-btn-warning ms-1 me-1">Update</a>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton@email.com</td>
                        <td>Employee</td>
                        <td>
                            <span style="text-align: right;">
                                <a href="#" class="ltu-btn ltu-btn-danger me-1">Delete</a>
                                <a href="#" class="ltu-btn ltu-btn-warning ms-1 me-1">Update</a>
                            </span>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>LarryB@example.com</td>
                        <td>Client</td>
                        <td>
                            <span style="text-align: right;">
                                <a href="#" class="ltu-btn ltu-btn-danger me-1">Delete</a>
                                <a href="#" class="ltu-btn ltu-btn-warning ms-1 me-1">Update</a>
                                <a href="#" class="ltu-btn ltu-btn-primary ms-1">Record</a>
                            </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</main>