<main>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 mx-auto mt-4">
            
            <div class="my-card">
                <div style="text-align: center;"><h1 class="my-card-title">Users</h1></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role.name}}</td>
                        <td>
                            <span style="text-align: right;">
                                <button type="button" (click)="deleteUser(user.username)" class="ltu-btn ltu-btn-danger me-1">Delete</button>
                                <a class="ltu-btn ltu-btn-warning ms-1 me-1" [routerLink]="['/create-user','edit',user.id]" routerLinkActive="router-link-active" >Update</a>
                                <a *ngIf="user.role.name ==='Client'" href="#" class="ltu-btn ltu-btn-primary ms-1">Record</a>
                            </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</main>