<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 col-sm-3 center">
                <h2>Birthday photoshoot</h2>
                <div class="col mb-3">
                    <img src="../../../assets/birthday1.jpg" class="image" alt="...">
                </div>
                <span>Offers:</span>
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
                <span style="display: block; margin-bottom: 0.2rem;">Price: RD$ 3,000</span>
                <a class="cart-btn" href="#">Add to cart</a>
            </div>
            <div class="col-md-3 col-sm-3 center">
                <h2>Prewedding photoshoot</h2>
                <img src="../../../assets/prewedding1.jpg" class="image mb-3" alt="...">

                <span>Offers:</span>
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
                <span style="display: block; margin-bottom: 0.2rem;">Price: RD$ 1,000</span>
                <a class="cart-btn" href="#">Add to cart</a>
            </div>
            <div class="col-md-3 col-sm-3 center">
                    <h2>Wedding photoshoot</h2>
                    <div class="col mb-3">
                        <img src="../../../assets/wedding2.jpg" alt="..." class="image" >
                    </div>
                    <span>Offers:</span>
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
                <span style="display: block; margin-bottom: 0.2rem;">Price: RD$ 5,000</span>
                <a class="cart-btn" href="#">Add to cart</a>
            </div>
            <div class="col-md-3 col-sm-3 center">
                    <h2>Event videoshoot</h2>
                    <div class="col">
                        <img src="../../../assets/event2.jpg" class="image mb-3" alt="...">
                    </div>
                    <span>Offers:</span>
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
                <span style="display: block; margin-bottom: 0.2rem;">Price: RD$ 4,000</span>
                <a class="cart-btn" href="#">Add to cart</a>
            </div>
        </div>
    </div>
</main>