.ltu-btn{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.01rem;
    background-color: rgba(194, 194, 194, 0);
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.ltu-btn:disabled{
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.01rem;
    background-color: grey;
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.ltu-btn-danger{
    border-color: rgba(223, 58, 58, 0.253);
}

.ltu-btn-warning{
    border-color: rgba(252, 185, 61, 0.377);
}

.ltu-btn-primary{
    border-color: rgba(50, 125, 211, 0.397);
}
.ltu-btn-primary:disabled{
    border-color: grey;
}


.ltu-btn-danger:hover{
    background-color: rgb(223, 58, 58);
    box-shadow: rgb(179, 75, 75) 1px 1px 5px;
}

.ltu-btn-warning:hover{
    background-color: rgb(252, 185, 61);
    box-shadow: rgb(165, 130, 65) 1px 1px 5px;
}

.ltu-btn-primary:hover{
    background-color: rgb(50, 125, 211);
    box-shadow: rgb(41, 104, 175) 0px 0px 5px;
}

.ltu-btn-primary:hover:disabled{
    background-color: grey;
    box-shadow: grey 0px 0px 0px;
}

.my-card{
    border-style: solid;
    border-width: 0.1rem;
    border-color: grey;
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 5px;
}

.my-card-title:hover{
    text-shadow: 1px 1px 5px;
}

table, td, th {
    border-style: none;
    text-align: center;
}