.my-card{
    border-style: solid;
    border-width: 0.1rem;
    border-color: grey;
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 5px;
}

.login{
    text-align: center;
    margin-top:2%;
    font-size: 25px;
}

.login-btn{
    font-size: 18px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgba(194, 194, 194, 0);
    transition: 0.3s;
}

.login-btn:hover {
    background-color: rgb(50, 125, 211);
    box-shadow: rgb(41, 104, 175) 0px 0px 5px;
}