<main>
    <div class="container mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 mx-auto">
            <div class="my-card">
                <form>
                    <h4 class="login">Photo Phactory</h4>
                    <div class="col-md mx-3 mb-4">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" minlength="3" placeholder="Username" required>
                    </div>
                    <div class="col-md mx-3 mb-4">
                        <label class="form-label" for="username">Password</label>
                        <input class="form-control" type="password" minlength="3" placeholder="Password" required>
                    </div>
                    <div class="col-md mx-3 mb-3" style="text-align: end;">
                        <button class="login-btn" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>